{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}  


{% block titulo %}
<h3 id="helpLabel">Registrar Licencias</h3>
<p>Este formulario permite registrar a un empleado licencias y permisos otorgados.</p>
{% endblock %}


{% block contenido %}
 <p><h4>¿Cómo llenar este formulario?</h4></p>
<ul style="list-style-type:disc; margin-left:25px">
	<li>Para el iniciar el registro, seleccione el motivo de la licencia: Enfermedad, Personal o Misi&oacute;n Oficial<br></li> 
<center><img src="{{asset('images/images_ayuda/motivopermiso.jpg') }}" alt="ISRI"/></center>
<center>Seleccione un motivo.</center><br>
<li>Seleccionar tipo licencia o permiso: Licencia con o sin goce de sueldo.</li>
<center><img src="{{asset('images/images_ayuda/permisosueldo.jpg') }}" alt="ISRI"/></center><br>
<li>Seleccionar per&iacute;odo de tiempo otorgado al permiso.</li>
<center><img src="{{asset('images/images_ayuda/periodotiempo.jpg') }}" alt="ISRI"/></center>
<center>Seleccionar d&iacute;as u horas.</center><br>
<li>Si selecciona la opci&oacute;n "d&iacute;as"</li>
<div class="justify">Seleccione la fecha inicio y fin de permiso del calendario que se muestra al dar click sobre la caja de texto.</div>
<img src="{{asset('images/images_ayuda/fechapermiso.jpg') }}" alt="ISRI"/><br>
<div class="justify">Al seleccionar la fecha fin de permiso, se completa la caja de n&uacute;mero de d&iacute;as</div>
<li>Si la opci&oacute;n seleccionada es "Horas", se habilitan  los campos "Hora salida" y "Hora regreso", ubicados en la parte derecha de la pantalla.</li>

</ul>
<br><br>
{% endblock %}