{% extends 'EvaluacionBundle:Ayuda:plantilla_ayuda.html.twig' %}

{% block titulo %}

<h3 id="helpLabel">Realizar Evaluaci&oacute;n</h3>
<p>Permite realizar evaluaciones de desempeño a empleados de la instituci&oacute;n</p>
{% endblock %}

{% block contenido %}

<h4><p>¿C&oacute;mo realizar una evaluaci&oacute;n?</p></h4>
Se describen a continuación los pasos necesarios:
<ul style="list-style-type:disc; margin-left:25px">
<li class="justifyText">Complete la informaci&oacute;n: "Cargo seg&uacute;n funci&oacute;n" y "apartir de", si la evaluaci&oacute;n se realiza sobre las funciones que ejerce en una plaza distinta a la nominalmente contratado.</li>
<img src="{{asset('images/images_ayuda/cargofuncion.jpg') }}" alt="ISRI"/>
<center>Si no fuese el caso, deje en blanco dichos campos.</center><br>
<li class="justifyText">Para la evaluaci&oacute;n general del empleado se muestran 7 factores de evaluaci&oacute;n. Seleccione una de las 4 opciones de respuesta(A,B,C,D) que se muestran en cada factor.</li>
<img src="{{asset('images/images_ayuda/respuestaeval.jpg') }}" alt="ISRI"/>
<li class="justifyText">Ingrese tiempo de supervisar al empleado</li>
<center><img src="{{asset('images/images_ayuda/tiempoeval.jpg') }}" alt="ISRI"/></center>
<li class="justifyText">Ingrese comentarios respecto a la evaluaci&oacute;n realizada. Luego presione el bot&oacute;n "Guardar"</li>
<center><img src="{{asset('images/images_ayuda/comentarioseval.jpg') }}" alt="ISRI"/></center>
<li class="justifyText">Se abrir&aacute; una nueva ventana que contendr&aacute; un cuadro resumen de las respuestas registradas y resultado final de la evaluaci&oacute;n</li>
</ul>
<br>

{% endblock %}