{% extends 'EvaluacionBundle:Ayuda:plantilla_ayuda.html.twig' %}

{% block titulo %}

<h3 id="helpLabel">Realizar Evaluaci&oacute;n</h3>
<p>Permite realizar evaluaciones de desempeño a empleados de la instituci&oacute;n</p>
{% endblock %}

{% block contenido %}

<h4><p>¿C&oacute;mo realizar una evaluaci&oacute;n?</p></h4>

{% endblock %}