{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
{% set ruta = app.request.attributes.get('_route') %}


<h3 class="text-center">Listado de plazas sometidas a concurso</h3>
<p class="text-center">Seleccione la opción para la cual desea aplicar<p>
<br/>
     
     {{ grid(grid,_self, 'APYDataGridBundle::blocks_js.jquery.html.twig') }} 
     {% block grid_filters %}{% endblock %}
     <br />
     <div class="text-center">
     <a href="{{path('hello_page')}}" class="btn"> Cancelar </a>
     </div>

    
    {% endblock %}