{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h2>Acceso creation</h2>
    <br />
    <form action="{{ path('acceso_create') }}" method="post" class="_form" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="submit" type="submit">Create</button>
        </p>
    </form>

<ul class="record_actions">
    <li>
        <a href="{{ path('acceso') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock %}
