{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h1>Creaci&oacute;n de p&aacute;ginas de acceso</h1>
    <br />
    <fieldset>
        <legend> Registro de paginas de acceso </legend>
    <form action="{{ path('acceso_create') }}" method="post" class="_form" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
       <br /> <p>
            <button class="submit" type="submit">Ingresar</button>
        </p>
    </form>
    </fieldset>
<ul class="record_actions">
    <li>
        <a href="{{ path('acceso') }}">Regresar</a>
    </li>
</ul>
{% endblock %}
