{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% if app.session.started %}
{% for flashMessage in app.session.flashbag.get('delete') %}
<div class="alert alert-danger">
<p>{{ flashMessage }}</p>
</div>
{% endfor %}
{% endif %}
     
     <h3 class="text-center">Registro de seguro colectivo de vida</h3>
     <p class="text-center">Seleccione un empleado de la lista</p>
     {{ grid_search(grid) }}
     {{ grid(grid,_self, 'APYDataGridBundle::blocks_js.jquery.html.twig') }} 
     {% block grid_filters %}{% endblock %}

{% endblock %}
