{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <!-- Botón ayuda -->
    <a href="#help" class="btn pull-right tool" data-toggle="modal" title="Click para ayuda"><i class="icon-question-sign"></i></a>
    {{ include('ExpedienteBundle:Ayuda/PruebaPsicologica:registro.html.twig')}}

    <h4 class='text-center'>Eliminación por antigüedad de Registro</h4>
    <form action="{{ path('expediente_aelim') }}" method="post">   
        <fieldset><legend>Años de antigüedad</legend>
            Años de antigüedad minima para eliminar el registro del aspirante: <input type='text' id='periodo' name='periodo' size="2" maxlength="2" data-bvalidator='number,min[1],required' class='input-small'>
        </fieldset>
        <div align="center">
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="#" onclick="history.back()" class="btn">Cancelar</a>
        </div>
    </form>
    </center>
{% endblock %}