{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<div class="text-center">
<h3>¡Registro inicial completado con éxito!</h3>

<img src="{{ asset('images/registrocompleto.png') }}" height="200px" width="200px" /> 
<br>
<p>El próximo paso es acercarse al departamento de recursos humanos a entregar la documentación requerida y poder validar tu registro. ¡Acercate cuanto antes!</p>
<br>

</div>
{% endblock %}