{% extends '::PrincipalBaseEmpleado.html.twig' %}

{% block principal -%}
    <h4 class='text-center'>CAPACITACIONES DISPONIBLES</h4>
    <p class="text-center">Seleccione para ver detalle y Aplicar</p>

{{ grid_search(grid) }}

{{ grid(grid,_self) }}

{% block grid_filters %}{% endblock %}

<div align='center'>
    <a  href="{{ path('solicitudcapacitacion') }}" class="btn">Regresar</a>
</div>
<style type="text/css">
#grid_grid_disponiblesEmpleado__fechacapacitacion__query__from{
    width: 100px; 
}

#grid_grid_disponiblesEmpleado__fechacapacitacion__query__to{
    width: 100px; 
}
</style>
<script>
$(document).ready(function(){

          $("#grid_grid_disponiblesEmpleado__fechacapacitacion__query__from").datepicker({ 
              dateFormat: 'dd-mm-yy',  
              changeMonth: true,
              changeYear: true,
              yearRange: "-100:+0",
              onClose: function( selectedDate ) {
              $( "#grid_grid_disponiblesEmpleado__fechacapacitacion__query__to" ).datepicker( "option", "minDate", selectedDate);}
         });

         $( "#grid_grid_disponiblesEmpleado__fechacapacitacion__query__to" ).datepicker({
             dateFormat: 'dd-mm-yy',
             changeMonth: true,
             changeYear: true,
             onClose: function( selectedDate ) {
            $( "#grid_grid_disponiblesEmpleado__fechacapacitacion__query__from" ).datepicker( "option", "maxDate", selectedDate );}
         });

         $('#grid_grid_disponiblesEmpleado__fechacapacitacion__query__from').attr('readonly',true);
         $('#grid_grid_disponiblesEmpleado__fechacapacitacion__query__to').attr('readonly',true);
     });
</script>
{% endblock %}
