{% extends '::PrincipalBase.html.twig' %}
{% block principal -%}
  <h4 class="text-center">Documentos a adjuntar junto a curriculum vitae</h4>
    
    <p class="justifyText"> A continuación se presenta el listado de los documentos necesarios para que la solicitud de empleo registrada forme parte del banco de datos institucional. Estos deberán presentarse en la institución posterior al registro de la solicitud de empleo, según se indican a continuación.
    
   <hr>
    <ul style="list-style-type: disc; margin-left:50px"> 
            <li>2 FOTOGRAFIAS </li>
            <li>FOTOCOPIA DE TITULO AUTENTICADO Y/O SELLOS DE INSCRIPCIÓN</li>
            <li>FOTOCOPIA DE DIPLOMAS OBTENIDOS</li>
            <li>2 RECOMENDACIONES LABORALES</li>
            <li>2 RECOMENDACIONES PERSONALES</li>
            <li>FOTOCOPIA DE PARTIDA DE NACIMIENTO (AL MENOS 1 AÑO DE EMISIÓN A LA FECHA)</li>
            <li>FOTOCOPIA DE: DUI, NIT, ISSS Y AFP</li>
     </ul>   
   <hr>
 <h5>Notas</h5>
    
    <ul style="list-style-type: disc; margin-left:50px">
    
           <li>Para las profesiones del área médica y de psicología, se requiere adjuntar copia del carnet de inscripción en la junta de vigilancia respectiva y copia del recibo de la anualidad.</li>
           <br>
           <li>Presentar los documentos en folder manila con fastener y en sobre sellado indicando el nombre de la plaza a la cual esta optando.</li>
    
    </ul>

{% endblock %}
