{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}

{% block titulo %}

<<<<<<< HEAD:src/SIGESRHI/ExpedienteBundle/Resources/views/Ayuda/AccionPersonal/ConsultaAcuerdos.html.twig
<h3 id="helpLabel">Hoja de Servicio</h3>

=======
<h3 id="helpLabel">Formulario:Registro Acción Personal</h3>
<p>Este formulario permite el registro de acciones  </p>
>>>>>>> Reportes y Ayudas:src/SIGESRHI/ExpedienteBundle/Resources/views/Ayuda/AccionPersonal/Registro.html.twig
{% endblock %}

{% block contenido %}

<p>¿Cómo llenar este formulario?</p>
<p>Se describen a continuaci&oacute;n los pasos necesarios:</p>
<ul style="list-style-type:decimal; margin-left:25px">
		<li>Seleccione de la lista desplegable "Tipo de Acuerdo", el tipo de acuerdo a registrar. </li>
		<img src="{{asset('images/images_ayuda/tipoacuerdo.jpg') }}" alt="ISRI"/><br><br> 
		<li>Seleccione el puesto del empleado</li>
		<img src="{{asset('images/images_ayuda/seleccionpuesto.jpg') }}" alt="ISRI"/><br><br>
		<div class="justifyText">En la lista desplegable se muestran las plazas que posee el empleado en la Instituci&oacute;n, puede seleccionar la plaza donde generar&aacute; el acuerdo o ambas si se desea aplicar a ambas plazas el acuerdo.</div>
{% endblock %}