{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}

{% block titulo %}
<h3 id="helpLabel">Consultar Record Laboral</h3>
<p align="justify">Este ventana permite consultar el record laboral de un determinado empleado, as&iacute; como tambi&eacute;n el registro de acuerdos</p>
{% endblock %}

{% block contenido %}

<p><h4>¿Realizar b&uacute;squeda de un acuerdo?</h4></p>
<ul style="list-style-type:decimal; margin-left:25px">
		<li>Se puede realizar una b&uacute;squeda de un acuerdo previamente registrado a un empleado por tipo de acuerdo y por fecha de registro de acuerdo</li>
		<img src="{{asset('images/images_ayuda/busqueda_acuerdo.jpg') }}" alt="ISRI"/><br><br> 
		<div class="justifyText">Para realizar una b&uacute;squeda por tipo de acuerdo, seleccione de la lista desplegable el tipo de acuerdo y presione el bot&oacute;n buscar.
		Para una b&uacute;squeda por fecha, seleccione una fecha del calendario que se despliega al dar click en la caja de texto</div>

</ul>


{% endblock %}