{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}

{% block titulo %}

<<<<<<< HEAD:src/SIGESRHI/ExpedienteBundle/Resources/views/Ayuda/AccionPersonal/RegistroAcuerdos.html.twig
<h3 id="helpLabel">Acuerdo Laboral</h3>

=======
<h3 id="helpLabel">Formulario:Acción Personal</h3>
<p>Este formulario </p>
>>>>>>> Reportes y Ayudas:src/SIGESRHI/ExpedienteBundle/Resources/views/Ayuda/AccionPersonal/Consulta.html.twig
{% endblock %}

{% block contenido %}

<p>¿Cómo llenar este formulario?</p>

<p>Se describen a continuación los pasos necesarios:</p>


{% endblock %}