{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}

{% block titulo %}

<h3 id="helpLabel">Acuerdo Laboral</h3>

{% endblock %}

{% block contenido %}

<p>¿Cómo llenar este formulario?</p>

<p>Se describen a continuación los pasos necesarios:</p>


{% endblock %}