/***** Principa Base ****/
* {
margin: 0px;
padding: 0px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titulo1 {
font: bold 20px verdana, sans-serif;
color: white; /*black; /*white;*/
text-align: center;
text-shadow: 0.2em 0.2em 0.3em black;
} 

.titulo2 {
font: bold 16px verdana, sans-serif;
color: white; /* black; /*white; */
text-align: center;
text-shadow: 0.2em 0.2em 0.3em black;
}

.tabla_cabecera{
	width:100%;

}


body {
margin: 0;
font-size: 14px;
line-height: 20px;
color: #333333;
text-align: center;
background: #ECE9D8;
}

#agrupar {
width: 1024px; /*960px*/
margin: 15px auto;
text-align: left;
}

#cabecera {
background: -webkit-linear-gradient(top, #FFFFFF, #004C80);
background: -moz-linear-gradient(top, #FFFFFF, #004C80);
border: 1px solid #999999;
padding: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

#menu {
padding: 2px 0px 3px 0px;
} 

#camino_miga{
padding: 3px 0px 3px 0px;
background: #ECE9D8;
margin-bottom: 0px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

#seccion {
background: #CCCCCC;
float: left;
width: 744px; /* con acho de agrupar de 960px -> 680*/
margin: 3px 0px 10px 10px;
padding: 10px 10px;

/*
padding-top: 0px;
padding-bottom:0px;
padding-right:0px;
padding-left:0px;
*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

} 

#columna {
float: left;
width: 210px; /*220*/
margin: 3px 0px; /*20px 0px*/
padding: 20px 20px 5px 20px;
background: #CCCCCC;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

#pie {
font-size: small;
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}

/***** Para formularios ******/


/*** Centrado Tabla***/
.centered-table{
       margin: 0 auto;
       text-align: center;
}


/*  Justificar Texto */
.justifyText{
text-align : justify;
margin: 10px 25px 10px 10px;
}

/* Justificar en columnas de tabla */
.justifyColum{
text-align : justify;
}

/* Fotografía Solicitud*/

.fotoSol {
    height: 192px;
    width: 150px;
    vertical-align: middle;
    border: 2px;
}

/* Evitar cambiar tamaño a los texarea*/
textarea {
    resize: none;
}

/* Mostrar pdf */
.pdf {
    width: 100%;
    height: 400px;
} 

.input-xmlarge
{
    width: 400px;
}
