/***** Principa Base ****/
* {
margin: 0px;
padding: 0px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titulo1 {
font: bold 20px verdana, sans-serif;
color: white; /*black; /*white;*/
text-align: center;
text-shadow: 0.2em 0.2em 0.3em black;
} 

.titulo2 {
font: bold 16px verdana, sans-serif;
color: white; /* black; /*white; */
text-align: center;
text-shadow: 0.2em 0.2em 0.3em black;
}

.tabla_cabecera{
	width:100%;

}


body {
margin: 0;
font-size: 14px;
line-height: 20px;
color: #333333;
text-align: center;
background: #ECE9D8;
}

#agrupar {
width: 960px;
margin: 15px auto;
text-align: left;
}

#cabecera {
/* background: #004C80; */
background: -webkit-linear-gradient(top, #FFFFFF, #004C80);
background: -moz-linear-gradient(top, #FFFFFF, #004C80);
border: 1px solid #999999;
padding: 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

#menu {
padding: 5px 0px;
/*background: #CCCCCC;*/
/*padding: 5px 5px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;*/
} 

/*
#menu li {
display: inline-block;
list-style: none;
padding: 5px;
font: bold 14px arial, sans-serif;
}
*/

#seccion {
background: #CCCCCC;
float: left;
width: 680px;
margin: 3px 0px 10px 10px;
padding: 10px 10px;

/*
padding-top: 0px;
padding-bottom:0px;
padding-right:0px;
padding-left:0px;
*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

} 

#columna {
float: left;
width: 210px; /*220*/
margin: 3px 0px; /*20px 0px*/
padding: 20px 20px 5px 20px;
background: #CCCCCC;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

#pie {
font-size: small;
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}

/***** Para formularios ******/

/*** Centrado ***/
.centered
{
    text-align:center;
}

/** botón circular **/
.btn-cir {
background-color: #f5f5f5;
*background-color: #e6e6e6;
display: inline-block;
*display: inline;
padding: 2px 8px 2px 8px;
margin-bottom: 0;
*margin-left: .3em;
border: 1px solid #cccccc;
*border: 0;
border-radius: 100%;
cursor: pointer;
}

/* Acciones */
.btn-cir:hover,
.btn-cir:focus,
.btn-cir:active,
.btn-cir.active,
.btn-cir.disabled,
.btn-cir[disabled] {
color: #333333;
background-color: #e6e6e6;
*background-color: #d9d9d9;
}
/********************/