{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}  


{% block titulo %}
<h3 id="helpLabel">Activar Empleado</h3>
<p>Este formulario FALTA MODIFICARLO</p>
{% endblock %}


{% block contenido %}
 <p><h4>¿Cómo llenar este formulario?</h4></p>
<div class="justifyText">:s<br></div> 
<center><img src="{{asset('images/images_ayuda/coeficiente.jpg') }}" alt="ISRI"/></center>

<ul style="list-style-type:disc; margin-left:25px">
	<b><li>Generar pdf:</li></b>Permite generar los resultados de prueba psicologica en formato Pdf, permite adem&aacute;s la impresi&oacute;n de los resultados.
	<b><li>Regresar al listado:</li></b> Permite regresar al listado, donde se encuentran los aspirantes aun por registrar resultados.
	<b><li>Editar registro:</li></b>Permite modificar los resultados antes de la impresion de los mismos.
	<b><li>Borrar:</li></b> Elimina el registro de resultados.
</ul>
<br><br>
{% endblock %}