{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
Incidentes!

<table class="table table-bordered table-hover mitable">
	<tr>
		<th>Nombre del empleado: </th><td></td><th>Puesto que ocupa:</th><td></td>
	</tr>
	<tr>
		<th>Nombre del jefe: </th><td></td><th>Puesto que ocupa:</th><td></td>
	</tr>
</table>

Factores que observan:

{% endblock %}