{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

	<div class="text-center">
		<h4>Estimado usuario a&uacute;n NO es periodo de evaluaci&oacute;n !!</h4>
		<br>
		<img src="{{asset('images/candado.png')}}" width="250px" height="250px">
		<br>
		<h4>Por favor mantenerse pendiente del bolet&iacute;n de noticias, donde se publicará los periodos para realizar las evaluaciones.</h4>
	</div>

{% endblock %}