{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}  


{% block titulo %}
<h3 id="helpLabel">Record de Expediente Personal</h3>
<p align="justify">Esta ventana permite llevar un respado digital de los documentos que un empleado posee f&iacute;sicamente, registrados en la hoja indice de cada expediente.</p>
{% endblock %}


{% block contenido %}
 <p><h4>¿Cómo llenar este formulario?</h4></p>
<p>Se describen a continuación los pasos necesarios:</p>


{% endblock %}