{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

<script>
        jQuery(function() {

            jQuery("#grid_grid_concurso__nombreplaza__query__from").autocomplete({
                source: function( request, response ) {
                    jQuery.ajax({
                        url: "{{ path('shtumi_ajaxautocomplete') }}",
                        dataType: "json",
                        data: {
                            maxRows: 12,
                            letters: request.term,
                            entity_alias: "plazas"
                        },
                        success: function( data ) {
                            response( jQuery.map( data, function( item ) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                open: function() {
                    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
        });
</script>
    <h3 class="text-center"> Consulta de plazas </h3>
    <p class="text-center">Seleccione la plaza que se sometera a concurso</p>

     {{ grid_search(grid) }}
     {{ grid(grid,_self, 'APYDataGridBundle::blocks_js.jquery.html.twig') }} 
     {% block grid_filters %}{% endblock %}
     <br />
     <div class="text-center">
     <a href="{{path('hello_page')}}" class="btn"> Cancelar </a>
     </div>

    
    {% endblock %}
