{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h1>Nueva unidad Organizativa</h1>
<fieldset>
    <legend> Registro de unidad organizativa </legend>
    <form action="{{ path('unidadorganizativa_create') }}" class="_form" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="submit">Crear</button>
        </p>
    </form>
</fieldset>
        <ul class="record_actions">
    <li>
        <a href="{{ path('unidadorganizativa') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock %}
