{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <h1>Creación de roles</h1>
    <br />
    <form action="{{ path('rol_create') }}" class="_form" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('rol') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
