
{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}  


{% block titulo %}
<h3 id="helpLabel">Solicitud de Empleo</h3>
<p>Este formulario permite registrar una solicitud de empleo por parte de un aspirate.  </p>
{% endblock %}


{% block contenido %}
<p><h4>¿Cómo llenar este formulario?</h4></p>
<p>Se describen a continuación los pasos necesarios:</p>
<p>
1. Subir fotografia:<br> 
En este campo se recomienda subir una fotografia tamaño cedula, formato requeridos(.jpg .png)
</p><br>
2. Ingresar datos personales
<img src="{{asset('images/images_ayuda/anombres.jpg') }}" alt="ISRI"/>
<p>

</p>

{% endblock %}