{# Aqui mostraremos todos los pdf generados #}

{% extends '::PrincipalBase.html.twig' %}

{%block extendido -%}
<embed src="{{ asset('uploads/reportes/'~ reportes) }}" class="pdf"></embed>
<div class="text-center">
	
 <a href="{{app.request.headers.get('referer')}}"  class="btn btn-primary">Regresar</a>
</div>
{% endblock %}

