{# Aqui mostraremos todos los pdf generados #}

{% extends '::PrincipalBase.html.twig' %}

{%block extendido -%}
<embed src="{{ asset('uploads/reportes/'~ reportes) }}" class="pdf"></embed>
<div class="text-center">
 <button type="button" class="btn" onclick="window.history.back(1);">Regresar</button>
</div>
{% endblock %}

