{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}
    <div class="text-center">
    <h3> Consultar Solicitud de Empleo de Aspirantes</h3>
    </div>

{{ grid_search(grid) }} 
<br>
{{ grid(grid,_self) }}  
<br>
{% block grid_filters %}{% endblock %} 

<div class="text-center">
<a href="{{path('hello_page')}}" class="btn"> Cancelar </a>
</div>
 {% endblock %}

 
