{% extends '::PrincipalBase.html.twig' %}

{% block principal -%}

{% for flashMessage in app.session.flashbag.get('delete') %}
     <div class="alert alert-danger">
       <p>{{ flashMessage }}</p>
     </div>
{% endfor %}

    <div class="text-center">
    <h3> Consultar Solicitud de empleo Aspirantes Inválidos</h3>
    </div>

{{ grid_search(grid) }} 
<br>
{{ grid(grid,_self) }}  
<br>
{% block grid_filters %}{% endblock %} 

<div class="text-center">
<a href="{{path('hello_page')}}" class="btn"> Cancelar </a>
</div>
 {% endblock %}

 
