{% extends 'EvaluacionBundle:Ayuda:plantilla_ayuda.html.twig' %}

{% block titulo %}

<h3 id="helpLabel">Incidentes</h3>

{% endblock %}

{% block contenido %}

<p>¿Cómo llenar este formulario?</p>

{% endblock %}