{% extends 'ExpedienteBundle:Ayuda:plantilla_ayuda.html.twig' %}  


{% block titulo %}
<h3 id="helpLabel">Prueba Psicologica</h3>
<p>Este formulario permite el registro de resultados de la prueba psicol&oacute;gica realizada a un aspirante</p>
{% endblock %}


{% block contenido %}
 <p><h4>¿Cómo llenar este formulario?</h4></p>
<div class="justifyText">El formulario consta de 5 criterios, en los cuales debe seleccionar un rango para establecer el resultado obtenido por el aspirante en dicho criterio. <br>
Para el registro del criterio de Coeficiente Intelectual primero debe seleccionar el rango y luego establecer la calificaci&oacute;n al aspirante.<br></div> 
<center><img src="{{asset('images/images_ayuda/coeficiente.jpg') }}" alt="ISRI"/></center>
<center>En el resto de los criterios basta con seleccionar un rango determinado.</center>
<div class="justifyText">Una vez ingresados todos los resultados presione el bot&oacute;n "Guardar". Aparecer&aacute; una nueva ventana indicando el registro exitoso de resultados</div>
<center><img src="{{asset('images/images_ayuda/exitoprueba.jpg') }}" alt="ISRI"/></center>
<center><img src="{{asset('images/images_ayuda/resultadosprueba.jpg') }}" alt="ISRI"/><br></center>
<div class="justifyText">Se despliega tambi&eacute;n los resultados registrados al aspirante, con las siguientes opciones:</div>
<center><img src="{{asset('images/images_ayuda/accionesprueba.jpg') }}" alt="ISRI"/></center><br>
<ul style="list-style-type:disc; margin-left:25px">
	<b><li>Generar PDF:</li></b>Permite generar los resultados de prueba psicologica en formato Pdf, permite adem&aacute;s la impresi&oacute;n de los resultados.
	<b><li>Regresar al listado:</li></b> Permite regresar al listado, donde se encuentran los aspirantes aun por registrar resultados.
	<b><li>Editar registro:</li></b>Permite modificar los resultados antes de la impresion de los mismos.
	<b><li>Borrar:</li></b> Elimina el registro de resultados.
</ul>
<br><br>
{% endblock %}